@charset "UTF-8";

.error-msg {
    color: red;
    text-align: center;
}

.login-box {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: gainsboro;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px;
}

.login {
  font-size: 24px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-submit {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.back { 
	margin-left: 1050px;
}

.employee {
	margin-left: 50px;
	font-size: 24px;
}

th {
	font-size:  20px; 
	border: 1px solid #5e696c;
    text-align:center;
    background-color: lightgoldenrodyellow;
    height: 32px;
}

tr {
	font-size:  20px; 
}

td {
	border: 1px solid #5e696c;
	text-align: center;
	height: 24px;
}

table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 92%; 					/* テーブル横幅 */
	border-collapse:  collapse; 	
}

